# node
node_modules

# turbo
.turbo

# build folders
**/build/**
**/dist/**
.next/**

# misc
.DS_Store
.vercel

# keys
portfolio-cms/sanity.cli.ts
portfolio-cms/sanity.config.ts
portfolio-ui/src/client.js
