.post-margin {
    margin-bottom: 5em;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.post-margin {
    margin-top: -3.25em;
}

.post-margin:last-of-type {
    margin-bottom: 0.5em;
}

.backgroundImage {
    position: relative;
}

.backgroundImage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 100vh;
    visibility: hidden;
}

.foreGround {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-top: 0.5em;
    padding-top: 3em;
    margin-bottom: 1em;
}

.right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-top: 4em;
}

h2 {
    text-align: left;
    margin-left: 1rem;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.mainImage img, .secondImage img {
    max-width: 40vw;
}

.secondImage img {
    max-height: 80vh;
}

.mainImage img {
    margin-top: -15vh;
    margin-left: 10vh;
    max-width: 35vw;
}

.imgOne img, .imgTwo img, .imgThree img {
    height: 10vw;
}

.right, .left {
    max-height: calc(100% - 3em);
    overflow-y: scroll;
    z-index: 999;
}

.left p {
    font-size: 1rem;
    text-align: left;
    margin-left: 1em;
    padding-right: 0.4rem;
}

.inner-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: calc(100vw - 2em);
    display: flex;
    flex-flow: row nowrap;
    margin: 0 1em 1em 1em;
    font-size: 1rem;
    justify-content: space-between;
}

.inner-footer div {
    align-self: auto;
}

.footer-2 {
    width: calc(100vw - 2em);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 0;
}

.footer-1, .footer-3 {
    z-index: 5;
}

.footer-1 a {
    text-decoration: underline;
}

.bio {
    width: calc(100% - 42em);
    height: 10vh;
    position: relative;
    font-size: 1rem;
    margin-left: 22em;
    margin-top: 0.6em;
    text-align: left;
    z-index: 5;
}

.bio p {
    margin-top: 0;
    display: inline-block;
}

.bio p a {
    display: inline-block;
    cursor: pointer;
    border-radius: 2em;
    border-width: 2px;
    font-size: 0.75rem;
    border: 1px solid black;
    background-color: darkgrey;
    padding: 0 0.5em 0 0.5em;
    line-height: 1rem;
    margin-left: 0.5em;
    margin-top: -0.25em
}

@media screen and (max-width: 1100px) {
    .bio {
        font-size: 0.5em;
        margin-left: 25em;
        width: calc(100% - 46em);
    }

    .left {
        max-height: calc(100% - 5em);
    }

    .right {
        margin-top: 8em;
    }

    .mainImage img, .secondImage img {
        max-width: 50vw;
    }
}

@media screen and (max-width: 700px) {
    .bio {
        margin: 5.5rem 1em 0 1em;
        width: calc(100vw - 2em);
        font-size: 1rem;
        height: auto;
        margin-bottom: 2em;
    }

    .foreGround {
        height: 100%
    }

    .left, .right {
        display: block;
        width: calc(100vw - 2em);
        margin: 0 1em 0 1em;
        height: 100%;
    }

    .left {
        padding-top: 0;
    }

    .right {
       margin-top: 2em;
       height: 30vh;
       overflow: visible;
       margin-bottom: 30vw;
    }

    .post-margin {
        margin-top: 1em;
        margin-bottom: 10em;
        height: auto;
    }

    .left p {
        margin: 0;
    }

    .left h2 {
        margin-left: 0;
    }

    .inner-footer {
        font-size: 0.75em;
        position: relative;
        margin-bottom: 0;
    }

    .mainImage img, .secondImage img {
        max-width: 65vw;
    }

}

@media screen and (min-width: 1270px) {

    .bio {
        width: 45vw;
        margin-left: 29vw; 
    }

    .inner-footer {
        margin-bottom: 3vh;
    }
    
}